* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-color: rgb(240, 232, 232);
}

.body {
  background-color: black;
  color: white;
}
#switch {
  width: 3rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
.img-fluid{
  box-shadow: 5px 5px 5px gray;
}

.rotate {
  transform: rotate(90deg);
  margin-left: -20px;
  margin-top: 30px;
  font-size: x-small;
}
